<%= form_with(model: vik, local: true) do |form| %>
  <% if vik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vik.errors.count, "error") %> prohibited this vik from being saved:</h2>

      <ul>
      <% vik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :vik_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :vik_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
