<p id="notice"><%= notice %></p>

<h1>Viks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viks.each do |vik| %>
      <tr>
        <td><%= vik.name %></td>
        <td><%= vik.location %></td>
        <td><%= link_to 'Show', vik %></td>
        <td><%= link_to 'Edit', edit_vik_path(vik) %></td>
        <td><%= link_to 'Destroy', vik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vik', new_vik_path %>
