<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vik.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vik.location %>
</p>

<%= link_to 'Edit', edit_vik_path(@vik) %> |
<%= link_to 'Back', viks_path %>
